dialog {
    position: fixed;
    inset: auto;
    top: 50%;
    left: 60%;
    margin: 0;

    transform: translate(100vw, -50%);
    opacity: 0;

    transition:
        transform 0.45s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 0.3s ease;
}

dialog.dialog--visible {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.dialog__container {
    height: 90vh;
    width: 80vh;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

.dialog__header {
    height: 30%;
    width: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dialog__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.type__flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 8px;
}

.dialog__headline {
    font-family: 'Rajdhani', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.dialog__span {
    font-family: 'nunito', sans-serif;
    font-size: 24px;
    font-weight: 500;
}