.overlay__container {
    width: 200px;
    height: 200px;
    margin: auto;
    display: none;
}

.overlay__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: auto;
}

.overlay__img {
    height: 150px;
    width: 150px;
}

.overlay__text {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: bold;
}